.users-table {
    width: 50%;
    margin: 10px auto;
    align-self:center;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: rgb(223, 223, 223);
  }

  a{
    color: black;
    font-style: none;
  }