:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.navbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #2f8be7;
}

.add-form {
    display: inline-block;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.delete-form {
    display: inline-block;
    position: absolute;
    margin-top: 100px;
    margin-left: 400px;
}

.users-table {
    display: inline-block;
    position: absolute;
    margin-top: 100px;
    margin-left: 800px;
}

#adminIcon {
    margin-left: 13px;
    margin-right: 10px;
}

#houseIcon {
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

#userListIcon {
    position: absolute;
    top: 60px;
    margin-left: 10px; 
}

#houseIcon:hover {
    opacity: 0.3;
    cursor: pointer;
}

#userListIcon:hover {
    opacity: 0.3;
    cursor: pointer;
}