.full-width-table {
  width: 100%;
}

.users-table {
  width: 30%;
  margin: 5px auto;
  align-self:center;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgb(223, 223, 223);
}
a{
  color: black;
  text-decoration: none;
}