<h1>User Forms</h1>
<hr>
<body>
  <div class="first">
    <h2>Add User</h2>
      <form>
      <label for="fname">First name:</label><br>
      <input type="text"  id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label for="userid">User ID:</label><br>
      <input type="text" id="userid" name="userid"><br>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password"><br>
      <br>
      <input type="button" value="Add">
      </form>
  </div>

  <div class="second">
    <h2>Delete User</h2>
    <form>
    <label for="userid">User ID:</label><br>
    <input type="text" id="userid" name="userid"><br>
    <br>
    <input type="button" value="Delete">
    </form>
  </div>

  <div class="third">
    <h2>View Users</h2>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User ID</th>
        <th>Username</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <br>
    <input type="button" value="View">
  </div>
</body>
