<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <img id="menuIcon" src="./assets/three-dots-vertical.svg">
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']" (click)="setDocTitle('Dashboard')">
      <img id="houseIcon" src="./assets/house-fill.svg" />
      <span>Dashboard</span>
    </button>
    <button mat-menu-item [routerLink]="['/users']" (click)="setDocTitle('Users List')">
      <img id="userIcon" src="./assets/person-lines-fill.svg" />
      <span>User List</span>
    </button>
    </mat-menu>

  <img
    width="35"
    id="adminIcon"
    alt="Admin Icon"
    src="./assets/person-fill.svg"
  />
  <span>Hello, Admin | {{getDocTitle()}}</span>
</div>

<!--<app-dashboard></app-dashboard>-->
<!-- <div class="add-form">
  <h2>Add User</h2>
  <form>
    <label for="fname">First name:</label><br>
    <input type="text"  id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="userid">User ID:</label><br>
    <input type="text" id="userid" name="userid"><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <br>
    <input type="button" value="Add">
  </form>
</div>

<div class="delete-form">
  <h2>Delete User</h2>
    <form>
    <label for="userid">User ID:</label><br>
    <input type="text" id="userid" name="userid"><br>
    <br>
    <input type="button" value="Delete">
    </form>
</div> -->

<!-- <div class="users-table">
  <h2>View Users</h2>
  <app-users-table></app-users-table>
</div> -->

<!-- <h1>Background Template</h1> -->
<!-- implement nav bar -->
<router-outlet></router-outlet>

<!-- <app-dashboard></app-dashboard> -->
